@model prjWebSpaceMent.Models.Members

@{ ViewBag.Title = "Edit";
                Layout = "~/Views/Shared/_LayoutMember.cshtml"; }


<section id="subspaces">
    <div class="container wow fadeInUp">
        <div class="section-header p-5">
            <h2>忘記想修改甚麼了嗎？</h2>
            <p>讓我帶您回到場地清單回想一下！</p>
        </div>

        <form method="POST" action="#">
            <div class="form-row justify-content-center">
                <div class="col-auto">
                    <a href="https://localhost:44386/Spaces/Spaces_List" class="joinbutton-a">
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        Return
                    </a>
                </div>
            </div>
        </form>

    </div>
</section>

<main>
    @using (Html.BeginForm())
    {
<div class="container">
    <div class="section-header p-3">
        <h2>編輯場地資料</h2>
        <p>想修改什麼呢？</p>
    </div>
    <div class="row">
        @*<div>
            <input type="hidden" name="sNumber" value="@Model.mNumber" />
        </div>*@
        <div class="col-4 mb-5">
            @*<div class="mb-4">
                <h3><span class="badge badge-secondary">@Html.DisplayNameFor(model => model.mName)</span></h3>
                <input class="input-group" type="text" name="sName" placeholder="必填" required value="@Model.mName" />
            </div>*@

            <!--活動類型 使用下拉式選項-->
            @*<div class="mb-4">
                <h3><span class="badge badge-secondary">@Html.DisplayNameFor(model => model.mName)</span></h3>
                <select name="sType">
                    <option disabled value="" selected>請選擇活動類型</option>
                    <option>會議/商務中心</option>
                    <option>派對/聚餐</option>
                    <option>尾牙/春酒</option>
                    <option>課程講座/教育訓練</option>
                    <option>運動場地</option>
                    <option>多功能共享空間</option>
                    <option>藝文展覽/表演場地</option>
                    <option>婚禮/婚宴</option>
                    <option>拍照/攝影</option>
                    <option>宴會/晚會</option>
                    <option>烹飪活動</option>
                    <option>戶外活動</option>
                    <option>地區活動中心</option>
                    <option>其他</option>
                </select>
            </div>*@
            <div class="mb-4">
                <h3><span class="badge badge-secondary">@Html.DisplayNameFor(model => model.mAccount)</span></h3>
                <input class="input-group" type="text" name="mAccount" placeholder="必填"  value="@Model.mAccount" />
            </div>
            <div class="mb-4">
                <h3><span class="badge badge-secondary">@Html.DisplayNameFor(model => model.mPassword)</span></h3>
                <input class="input-group" type="text" name="sPhone" placeholder="必填" required value="@Model.mPassword" />
            </div>
            <div class="mb-4">
                <h3><span class="badge badge-secondary">@Html.DisplayNameFor(model => model.mNickName)</span></h3>
                <input class="input-group" type="text" name="sFloor" placeholder="必填" required value="@Model.mNickName" />
            </div>
        </div>
        <div class="col-4 mb-5">
            <div class="mb-4">
                <h3><span class="badge badge-secondary">@Html.DisplayNameFor(model => model.mPhone)</span></h3>
                <input class="input-group" type="text" name="sHeight" value="@Model.mPhone" />
            </div>
            <div class="mb-4">
                <h3><span class="badge badge-secondary">@Html.DisplayNameFor(model => model.mEmail)</span></h3>
                <input class="input-group" type="text" name="sArea" value="@Model.mEmail" />
            </div>
            <div class="mb-4">
                <h3><span class="badge badge-secondary">@Html.DisplayNameFor(model => model.mTWid)</span></h3>
                <input class="input-group" type="text" name="sCapacity" placeholder="必填" required value="@Model.mTWid" />
            </div>
            
        </div>

    </div>
    <div class="text-center mb-5">
        <button class="btn btn-success mr-4" type="submit">儲存修改</button>
        <button class="btn btn-warning">@Html.ActionLink("返回場地總覽", "memberIndex")</button>
    </div>
</div>            }
</main>
