@model IEnumerable<prjWebSpaceMent.Models.Members>

@{
    ViewBag.Title = "memberIndex";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}
<!--Intro Section-->
<section id="subspaces">
    <div class="container wow fadeInUp">
        <div class="section-header p-5">
            <h2>出租的場地資料也需要編輯?</h2>
            <p>來看看目前您有哪些場地出租中吧！</p>
        </div>

        <form method="POST" action="#">
            <div class="form-row justify-content-center">
                <div class="col-auto">
                    <a href="/Spaces/Spaces_List" class="joinbutton-a">
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        Check Now！
                    </a>
                </div>
            </div>
        </form>

    </div>
</section>

<main>
    <h2>會員資料專區</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mNickName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mTWid)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.mAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mPassword)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mNickName)
                </td>
                <td style="color:#000000">
                    @Html.DisplayFor(modelItem => item.mEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mTWid)
                </td>
                <td>
                    <button class="btn btn-warning">@Html.ActionLink("編輯", "Edit", new { id = item.mNumber })</button>
                    @*<a href="@Url.Action("Delete")?mNumber=@item.mNumber"
                           class="btn btn-danger"
                           onclick="return confirm('確定要刪除編號 mNumber=@item.mNumber 的記錄嗎？');">
                            刪除
                        </a>*@
                </td>
            </tr>
        }
    </table>
</main>
