@model IEnumerable<prjWebSpaceMent.Models.Orders>

@{
    ViewBag.Title = "ShoppingCar";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}
<!--Intro Section-->
<section id="subspaces">
    <div class="container wow fadeInUp">
        <div class="section-header p-5">
            <h2>需要預訂場地嗎？</h2>
            <p>讓我帶您去看看我們精選的場地吧！</p>
        </div>

        <form method="POST" action="#">
            <div class="form-row justify-content-center">
                <div class="col-auto">
                    <a href="https://localhost:44386/Spaces/Spaces_Index" class="joinbutton-a">
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        GO！
                    </a>
                </div>
            </div>
        </form>

    </div>
</section>

<div class="container">
    <div class="section-header p-5">
        <h2>我的預訂</h2>
        <p>以下是您目前預訂的場地</p>
    </div>
</div>
<div class="container">
    <table class="table">

        <tr>
            <th>
                序號
            </th>
            <th>
                使用時間
            </th>
            <th>
                付款方式
            </th>
            <th>
                付款狀態
            </th>
            <th>
                折扣
            </th>
            <th>
                成交金額
            </th>
            <th>
                建立時間
            </th>
            <th>
                更新時間
            </th>
            <th>
                活動名稱
            </th>
            <th>
                會員編號
            </th>
            <th>
                場主編號
            </th>
            <th>
                場地名稱
            </th>
            <th></th>
        </tr>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.oAccount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.oScheduledTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.oPaymentMode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.oPaymentStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.oDiscount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.oPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.oCreated_at)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.oUpdated_at)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Activities.aName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Members.mAccount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Members1.mAccount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Spaces.sName)
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success" style="font-size:14px">@Html.ActionLink("編輯", "Member_Edit", new { id = item.oNumber })</button>|
                        @Html.ActionLink("明細", "Details", new { id = item.oNumber }) |
                        @Html.ActionLink("刪除", "Delete", new { id = item.oNumber })
                    </td>
                </tr>
            }
        }

    </table>
</div>
