@model IEnumerable<prjWebSpaceMent.Spaces>

@{
    ViewBag.Title = "Spaces_List";
}

<h2>Spaces_List</h2>

<p>
    @Html.ActionLink("新增場地", "Spaces_Create")
</p>
<table class="table">
    <tr>
        <th>
            序號
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sAddr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sOpeningTime)
        </th>
        <th></th>
    </tr>

    @{
        int count = 0;
        foreach (var item in Model)
        {
            count++;
            <tr>
                <td>
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sAddr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sCapacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sOpeningTime)
                </td>

                <td>
                    @Html.ActionLink("修改場地", "Spaces_Edit", new { id = item.sNumber }) |
                    @Html.ActionLink("刪除場地", "Spaces_Delete", "Spaces", new { id = item.sNumber }, new { onclick = "return confirm('確定要刪除嗎?')" }) |
                    @Html.ActionLink("詳細資訊", "Spaces_Details", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    }
</table>

