@model prjWebSpaceMent.Models.ClassSpaces

@{
    ViewBag.Title = "Spaces_List_Detail";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<section id="subspaces">
    <div class="container wow fadeInUp">
        <div class="section-header p-5">
            <h2>發現場地資訊有誤嗎？</h2>
            <p>立即更新場地資訊吧！</p>
        </div>
        <div class="AnimatedButton">
            <a class="AnimatedButton-a" style="--clr:#f82249; --i: 0;" href="/Spaces/Spaces_List"><span class="AnimatedButton-a-span">場地管理</span></a>
        </div>
    </div>
</section>

<main>
    <div class="container">
        <div class="d-flex justify-content-center mt-3">
            <h1 class="text-center">@Html.DisplayFor(model => model.sName)<br /> <span class="badge badge-info" style="font-size:16px">@Html.DisplayFor(model => model.sType)</span></h1>
        </div>
        <section id="gallery" class="wow fadeInUp mt-1 mb-3">
            <div class="owl-carousel gallery-carousel">
                <a href="~/img/gallery/@Html.DisplayFor(model => model.sPhoto)"><img src="~/img/gallery/@Html.DisplayFor(model => model.sPhoto)" alt=""></a>
                <a href="~/img/gallery/@Html.DisplayFor(model => model.sPhoto_First)"><img src="~/img/gallery/@Html.DisplayFor(model => model.sPhoto_First)" alt=""></a>
                <a href="~/img/gallery/@Html.DisplayFor(model => model.sPhoto_Second)"><img src="~/img/gallery/@Html.DisplayFor(model => model.sPhoto_Second)" alt=""></a>
            </div>
        </section>
    </div>
    <div class="container">
        <div class="d-flex justify-content-center">
            <button class="btn btn-success mb-3 mr-3">@Html.ActionLink("查看評價", "ShowRating", "Rating")</button>
            <button class="btn btn-warning mb-3 mr-3">@Html.ActionLink("評分評論", "AddComment", "Rating")</button>
            <a href="https://www.google.com/maps/place/@Model.sAddr" target="_blank"><img src="~/img/Google_Maps.jpg" style="width:45px;height:36px;" /> </a>
        </div>
        <div class="row justify-content-around mb-3">
            <div class="col-lg-6 mb-3">
                <ul class="list-group">
                    <li class="list-group-item">@Html.DisplayNameFor(model => model.sAddr)：@Html.DisplayFor(model => model.sAddr)</li>
                    <li class="list-group-item">@Html.DisplayNameFor(model => model.sPhone)：@Html.DisplayFor(model => model.sPhone)</li>
                    <li class="list-group-item">@Html.DisplayNameFor(model => model.sFloor)：@Html.DisplayFor(model => model.sFloor)</li>
                    <li class="list-group-item">@Html.DisplayNameFor(model => model.sHeight)：@Html.DisplayFor(model => model.sHeight)</li>
                    <li class="list-group-item">@Html.DisplayNameFor(model => model.sArea)：@Html.DisplayFor(model => model.sArea)</li>
                    <li class="list-group-item">@Html.DisplayNameFor(model => model.sCapacity)：@Html.DisplayFor(model => model.sCapacity)</li>
                </ul>
            </div>
            <div class="col-lg-6 mb-3">
                <ul class="list-group">
                    <li class="list-group-item">@Html.DisplayNameFor(model => model.sRent)：@Html.DisplayFor(model => model.sRent)</li>
                    <li class="list-group-item" hidden>@Html.DisplayNameFor(model => model.sRate)：@Html.DisplayFor(model => model.sRate)</li>
                    <li class="list-group-item">@Html.DisplayNameFor(model => model.sOpeningTime)：@Html.DisplayFor(model => model.sOpeningTime)</li>
                    <li class="list-group-item">@Html.DisplayNameFor(model => model.sSecurity)：@Html.DisplayFor(model => model.sSecurity)</li>
                    <li class="list-group-item">@Html.DisplayNameFor(model => model.sTraffic)：@Html.DisplayFor(model => model.sTraffic)</li>
                    <li class="list-group-item mb-5">@Html.DisplayNameFor(model => model.sIntro)：@Html.DisplayFor(model => model.sIntro)</li>
                </ul>
            </div>
        </div>
    </div>
</main>
