@model IEnumerable<prjWebSpaceMent.Models.Spaces>

@{
    ViewBag.Title = "場地清單";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}
<!--Intro Section-->
<section id="intro">
    <div class="slider-wrapper">
        <div class="owl-carousel hero-carousel">
            <div class="hero-carousel-item">
                <img src="~/img/bg_image_3.jpg" alt="">
                <div class="img-caption">
                    <div class="subhead">讓我們幫您吧，想找哪個場地?</div>
                    <h1 class="mb-4">開始找尋適合您的場地吧！</h1>
                    <a href="/Spaces/Spaces_List" class="joinbutton-a">
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        找場地
                    </a>
                </div>
            </div>
            <div class="hero-carousel-item">
                <img src="~/img/bg_image_1.jpg" alt="">
                <div class="img-caption">
                    <div class="subhead">輕鬆刊登場地，曝光永不間斷</div>
                    <h1 class="mb-4">好場地，就該讓更多人知道！</h1>
                    <a href="/Member/Index/#subspaces" class="joinbutton-a">
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        成為場地主
                    </a>
                </div>
            </div>
            <div class="hero-carousel-item">
                <img src="~/img/bg_image_2.jpg" alt="">
                <div class="img-caption">
                    <div class="subhead">Hi！需要什麼協助嗎？</div>
                    <h1 class="mb-4">有什麼問題嗎？您來對地方了</h1>
                    <a href="/Member/Index/#faq" class="joinbutton-a">
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        常見問題
                    </a>
                </div>
            </div>
        </div>
    </div> <!-- .slider-wrapper -->
</section>
<main>
    @Html.ActionLink("新增場地", "Spaces_Create", "Spaces", new { area = "" }, new { @class = "btn btn-primary" })

    <table class="table">
        <tr>
            <th>
                序號
            </th>
            <th>
                名稱
            </th>
            <th>
                類型
            </th>
            <th>
                地址
            </th>
            <th>
                電話
            </th>
            <th>
                區域
            </th>
            <th>
                營業時間
            </th>
            <th></th>
        </tr>

        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sAddr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sCapacity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sOpeningTime)
                    </td>

                    <td>
                        @Html.ActionLink("修改場地", "Spaces_Edit", new { id = item.sNumber }) |
                        @Html.ActionLink("刪除場地", "Spaces_Delete", "Spaces", new { id = item.sNumber }, new { onclick = "return confirm('確定要刪除嗎?')" }) |
                        @Html.ActionLink("詳細資訊", "Spaces_Details", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        }
    </table>
</main>

