
@model prjWebSpaceMent.Models.ClassSpaces

@{
    ViewBag.Title = "新增場地";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<!--Intro Section-->
<section id="subspaces">
    <div class="container wow fadeInUp">
        <div class="section-header p-3">
            <h2>忘記要新增甚麼場地了嗎？</h2>
            <p>點擊下方按鈕再次確認您現有的場地吧！</p>
        </div>

        <form method="POST" action="#">
            <div class="form-row justify-content-center">
                <div class="col-auto">
                    <a href="/Spaces/Spaces_List" class="joinbutton-a">
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        Check Now！
                    </a>
                </div>
            </div>
        </form>

    </div>
</section>

<main>
    <div class="container">
        <div class="section-header p-5">
            <h2>新增場地</h2>
            <p>請您填寫以下資料！</p>
        </div>
    </div>
    <div class="container">
        <form method="post" action="~/Spaces/Spaces_Save">
            <div class="row">
                <div class="col-4 mb-5">
                    <div class="mb-4">
                        <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sName)</span></h3>
                        <input class="input-group" type="text" name="txtsName" placeholder="必填" required />
                    </div>

                    <!--活動類型 使用下拉式選項-->
                    <div class="mb-4">
                        <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sType)</span></h3>
                        <select name="select_type">
                            <option disabled value="" selected>請選擇活動類型</option>
                            <option>會議/商務中心</option>
                            <option>派對/聚餐</option>
                            <option>尾牙/春酒</option>
                            <option>課程講座/教育訓練</option>
                            <option>運動場地</option>
                            <option>多功能共享空間</option>
                            <option>藝文展覽/表演場地</option>
                            <option>婚禮/婚宴</option>
                            <option>拍照/攝影</option>
                            <option>宴會/晚會</option>
                            <option>烹飪活動</option>
                            <option>戶外活動</option>
                            <option>地區活動中心</option>
                            <option>其他</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sAddr)</span></h3>
                        <input class="input-group" type="text" name="txtsAddr" placeholder="必填" required />
                    </div>
                    <div class="mb-4">
                        <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sPhone)</span></h3>
                        <input class="input-group" type="text" name="txtsPhone" placeholder="必填" required />
                    </div>
                    <div class="mb-2">
                        <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sFloor)</span></h3>
                        <input class="input-group" type="text" name="txtsFloor" placeholder="必填" required />
                    </div>
                </div>
                <div class="col-4 mb-5">
                    <div class="mb-4">
                        <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sHeight)</span></h3>
                        <input class="input-group" type="text" name="txtsHeight" />
                    </div>
                    <div class="mb-4">
                        <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sArea)</span></h3>
                        <input class="input-group" type="text" name="txtsArea" />
                    </div>
                    <div class="mb-4">
                        <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sCapacity)</span></h3>
                        <input class="input-group" type="text" name="txtsCapacity" placeholder="必填" required />
                    </div>
                    <div class="mb-4">
                        <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sRent)</span></h3>
                        <input class="input-group" type="text" name="txtsRent" value="0" />
                    </div>
                    <div class="mb-2">
                        <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sRate)</span></h3>
                        <input class="input-group" type="text" name="txtsRate" value="0" />
                    </div>
                </div>
                <div class="col-4 mb-5">
                    <div class="mb-4">
                        <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sIntro)</span></h3>
                        <input class="input-group" type="text" name="txtsIntro" placeholder="必填" required />
                    </div>
                    <div class="mb-4">
                        <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sOpeningTime)</span></h3>
                        <input class="input-group" type="text" name="txtsOpeningTime" />
                    </div>
                    <div class="mb-4">
                        <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sSecurity)</span></h3>
                        <input class="input-group" type="text" name="txtsSecurity" />
                    </div>
                    <div class="mb-2">
                        <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sTraffic)</span></h3>
                        <input class="input-group" type="text" name="txtsTraffic" />
                    </div>
                </div>
            </div>
            <div class="text-center mb-3">
                <button class="btn btn-success" type="submit">建立場地</button>
            </div>
        </form>
    </div>
</main>
