
@model prjWebSpaceMent.Models.ClassSpaces

@{
    ViewBag.Title = "新增場地";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<!--頁首 Section-->
<section id="subspaces">
    <div class="container wow fadeInUp">
        <div class="section-header p-3">
            <h2>忘記要新增甚麼場地了嗎？</h2>
            <p>點擊下方按鈕再次確認您現有的場地吧！</p>
        </div>
        <div class="AnimatedButton">
            <a class="AnimatedButton-a" style="--clr:#f82249; --i: 0;" href="/Spaces/Spaces_List"><span class="AnimatedButton-a-span">場地管理</span></a>
        </div>
    </div>
</section>

<main>
    <div class="container">
        <div class="section-header p-5">
            <h2>新增場地</h2>
            <p>請您填寫以下資料！</p>
        </div>
    </div>
    <form method="post" action="~/Spaces/Spaces_Save" enctype="multipart/form-data">
        <div class="row justify-content-lg-center">
            <div class="col-5 mb-5">
                <div class="mb-4">
                    <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sName)</span></h3>
                    <input class="input-group" type="text" onchange="check_name()" name="txtsName" placeholder="必填" required />
                    <small class="form-text text-muted mb-3">請輸入場地完整名稱</small>
                </div>
                <!--活動類型 使用下拉式選項-->
                <div class="mb-4">
                    <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sType)</span></h3>
                    <select name="select_type">
                        <option disabled value="" selected>請選擇活動類型</option>
                        <option>會議/商務中心</option>
                        <option>派對/聚餐</option>
                        <option>尾牙/春酒</option>
                        <option>課程講座/教育訓練</option>
                        <option>運動場地</option>
                        <option>多功能共享空間</option>
                        <option>藝文展覽/表演場地</option>
                        <option>婚禮/婚宴</option>
                        <option>拍照/攝影</option>
                        <option>宴會/晚會</option>
                        <option>烹飪活動</option>
                        <option>戶外活動</option>
                        <option>地區活動中心</option>
                        <option>其他</option>
                    </select>
                    <small class="form-text text-muted mb-3">請選擇場地所屬類別</small>
                </div>
                <div class="mb-4">
                    <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sAddr)</span></h3>
                    <input class="input-group" type="text" name="txtsAddr" placeholder="必填" required />
                    <small class="form-text text-muted mb-3">請輸入場地所在地址(縣市/區鄉鎮/街道)</small>
                </div>
                <div class="mb-4">
                    <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sPhone)</span></h3>
                    <input class="input-group" type="text" name="txtsPhone" placeholder="必填" required />
                    <small class="form-text text-muted mb-3">請輸入場地連絡電話(ex：07-xxx-xxxx or 09xx-xxx-xxx)</small>
                </div>
                <div class="mb-2">
                    <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sFloor)</span></h3>
                    <input class="input-group" type="text" name="txtsFloor" placeholder="必填" required />
                    <small class="form-text text-muted mb-3">請輸入場地總樓層數(ex：5樓)</small>
                </div>
            </div>
            <div class="col-5 mb-5">
                <div class="mb-4">
                    <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sHeight)</span></h3>
                    <input class="input-group" type="text" name="txtsHeight" placeholder="必填" required />
                    <small class="form-text text-muted mb-3">請輸入場地室內高度(ex：室內高度3公尺，室外場地請填戶外)</small>
                </div>
                <div class="mb-4">
                    <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sArea)</span></h3>
                    <input class="input-group" type="text" name="txtsArea" placeholder="必填" required />
                    <small class="form-text text-muted mb-3">請輸入場地可使用面積(ex：20坪)</small>
                </div>
                <div class="mb-4">
                    <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sCapacity)</span></h3>
                    <input class="input-group" type="text" name="txtsCapacity" placeholder="必填" required />
                    <small class="form-text text-muted mb-3">請輸入場地可容納人數(ex：1,000人)</small>
                </div>
                <div class="mb-4">
                    <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sRent)</span></h3>
                    <input class="input-group" type="text" name="txtsRent" placeholder="必填" required />
                    <small class="form-text text-muted mb-3">請輸入場地每一時段費用(ex：NT$800元/時段)</small>
                </div>
                <div class="mb-4" hidden>
                    <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sRate)</span></h3>
                    <input class="input-group" type="text" name="txtsRate" value="0" />
                </div>
                <div class="mb-4">
                    <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sOpeningTime)</span></h3>
                    <input class="input-group" type="text" name="txtsOpeningTime" placeholder="必填" required />
                    <small class="form-text text-muted mb-3">請輸入場地營業時間(ex：週一至週五 09:00至21:00)</small>
                </div>
            </div>
            <div class="col-9 mb-5">
                <div class="mb-4">
                    <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sIntro)</span></h3>
                    <textarea class="input-group" type="text" name="txtsIntro" placeholder="必填" required></textarea>
                    <small class="form-text text-muted mb-3">請輸入場地基本簡介(ex：描述場地基本介紹、用途、歷史故事等等)</small>
                </div>

                <div class="mb-4">
                    <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sSecurity)</span></h3>
                    <textarea class="input-group" type="text" name="txtsSecurity" placeholder="必填" required></textarea>
                    <small class="form-text text-muted mb-3">請說明場地安全設施(ex：滅火器、AED、緊急照明燈、偵煙裝置等等，或說明場地使用規則)</small>
                </div>
                <div class="mb-2">
                    <h3><span class="badge badge-info">@Html.DisplayNameFor(model => model.sTraffic)</span></h3>
                    <textarea class="input-group" type="text" name="txtsTraffic" placeholder="必填" required></textarea>
                    <small class="form-text text-muted mb-3">請說明抵達場地位置推薦之交通路線或大眾運輸工具</small>
                </div>
                <div class="mb-2">
                    <h3><span class="badge badge-info">場地照片</span></h3>
                    <input type="file" name="spacePhoto" />
                </div>
            </div>
        </div>
        <div class="text-center mb-3">
            <button class="btn btn-success" type="submit">建立場地</button>
        </div>
    </form>

    <script>
        function check_name() {
            var sname = $("#txtsName").val();
            if (sname != "") {
                var params = '{"sname":"' + sname + '"}';
                $.ajax({
                    type: "POST",
                    url: "/Spaces/check_name",
                    data: params,//json序列化
                    datatype: "json", //此處不能省略
                    contentType: "application/json; charset=utf-8",//此處不能省略
                    success: function (data) {
                        alert(data);
                    },
                    error: function (data) {
                        alert(data)
                    }
                });
            }
        }
    </script>
</main>
