@model prjWebSpaceMent.Models.ClassSpaces

@{
    ViewBag.Title = "Spaces_Edit";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}


<section id="intro">
    <div class="page-banner home-banner">
        <div class="slider-wrapper">
            <div class="owl-carousel hero-carousel">
                <div class="hero-carousel-item">
                    <img src="~/img/bg_image_3.jpg" alt="">
                    <div class="img-caption">
                        <div class="subhead">讓我們幫您吧，想找哪個場地?</div>
                        <h1 class="mb-4">開始找尋適合您的場地吧！</h1>
                        <a href="#spaces" class="joinbutton-a">
                            <span class="joinbutton-a-span"></span>
                            <span class="joinbutton-a-span"></span>
                            <span class="joinbutton-a-span"></span>
                            <span class="joinbutton-a-span"></span>
                            找場地
                        </a>
                        <div class="subhead mb-5">往下繼續編輯場地資訊...</div>
                    </div>
                </div>
                <div class="hero-carousel-item">
                    <img src="~/img/bg_image_1.jpg" alt="">
                    <div class="img-caption">
                        <div class="subhead">輕鬆刊登場地，曝光永不間斷</div>
                        <h1 class="mb-4">好場地，就該讓更多人知道！</h1>
                        <a href="#subspaces" class="joinbutton-a">
                            <span class="joinbutton-a-span"></span>
                            <span class="joinbutton-a-span"></span>
                            <span class="joinbutton-a-span"></span>
                            <span class="joinbutton-a-span"></span>
                            成為場地主
                        </a>
                        <div class="subhead mb-5">往下繼續編輯場地資訊...</div>
                    </div>
                </div>
                <div class="hero-carousel-item">
                    <img src="~/img/bg_image_2.jpg" alt="">
                    <div class="img-caption">
                        <div class="subhead">Hi！需要什麼協助嗎？</div>
                        <h1 class="mb-4">有什麼問題嗎？您來對地方了</h1>
                        <a href="#faq" class="joinbutton-a">
                            <span class="joinbutton-a-span"></span>
                            <span class="joinbutton-a-span"></span>
                            <span class="joinbutton-a-span"></span>
                            <span class="joinbutton-a-span"></span>
                            常見問題
                        </a>
                        <div class="subhead mb-5">往下繼續編輯場地資訊...</div>
                    </div>
                </div>
            </div>
        </div> <!-- .slider-wrapper -->
        </div>
</section>

<main>
    @using (Html.BeginForm())
    {
        <h2>修改場地資料</h2>
        <hr />
        @*<form method="post" action="~/Spaces/Spaces_Edit">*@
        <div>
            <input type="hidden" name="sNumber" value="@Model.sNumber" />
        </div>
        <div>
            <span>@Html.DisplayNameFor(model => model.sName)</span><br />
            <input type="text" name="sName" placeholder="必填" required value="@Model.sName" />
        </div>

        <!--活動類型 使用下拉式選項-->
        <div>
            <span>@Html.DisplayNameFor(model => model.sType)</span>
            <br />
            <select name="sType">
                <option disabled value="" selected>請選擇活動類型</option>
                <option>會議/商務中心</option>
                <option>派對/聚餐</option>
                <option>尾牙/春酒</option>
                <option>課程講座/教育訓練</option>
                <option>運動場地</option>
                <option>多功能共享空間</option>
                <option>藝文展覽/表演場地</option>
                <option>婚禮/婚宴</option>
                <option>拍照/攝影</option>
                <option>宴會/晚會</option>
                <option>烹飪活動</option>
                <option>戶外活動</option>
                <option>地區活動中心</option>
                <option>其他</option>
            </select>
        </div>
        <div>
            <span>@Html.DisplayNameFor(model => model.sAddr)</span><br />
            <input type="text" name="sAddr" placeholder="必填" required value="@Model.sAddr" />
        </div>
        <div>
            <span>@Html.DisplayNameFor(model => model.sPhone)</span><br />
            <input type="text" name="sPhone" placeholder="必填" required value="@Model.sPhone" />
        </div>
        <div>
            <span>@Html.DisplayNameFor(model => model.sFloor)</span><br />
            <input type="text" name="sFloor" placeholder="必填" required value="@Model.sFloor" />
        </div>
        <div>
            <span>@Html.DisplayNameFor(model => model.sHeight)</span><br />
            <input type="text" name="sHeight" value="@Model.sHeight" />
        </div>
        <div>
            <span>@Html.DisplayNameFor(model => model.sArea)</span><br />
            <input type="text" name="sArea" value="@Model.sArea" />
        </div>
        <div>
            <span>@Html.DisplayNameFor(model => model.sCapacity)</span><br />
            <input type="text" name="sCapacity" placeholder="必填" required value="@Model.sCapacity" />
        </div>
        <div>
            <span>@Html.DisplayNameFor(model => model.sRent)</span><br />
            <input type="text" name="sRent" value="@Model.sRent" />
        </div>
        <div>
            <span>@Html.DisplayNameFor(model => model.sRate)</span><br />
            <input type="text" name="sRate" value="@Model.sRate" />
        </div>
        <div>
            <span>@Html.DisplayNameFor(model => model.sIntro)</span><br />
            <input type="text" name="sIntro" placeholder="必填" required value="@Model.sIntro" />
        </div>
        <div>
            <span>@Html.DisplayNameFor(model => model.sOpeningTime)</span><br />
            <input type="text" name="sOpeningTime" value="@Model.sOpeningTime" />
        </div>
        <div>
            <span>@Html.DisplayNameFor(model => model.sSecurity)</span><br />
            <input type="text" name="sSecurity" value="@Model.sSecurity" />
        </div>
        <div>
            <span>@Html.DisplayNameFor(model => model.sTraffic)</span><br />
            <input type="text" name="sTraffic" value="@Model.sTraffic" />
        </div>
        <hr />
        <div>
            <input type="submit" value="儲存" />
        </div>
        @*</form>*@
        <div>
            @Html.ActionLink("返回場地總覽", "Spaces_List")
        </div>
    }
</main>

