@model IEnumerable<prjWebSpaceMent.Models.ClassSpaces>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<section id="subspaces">
    <div class="container wow fadeInUp">
        <div class="section-header p-5">
            <h2>有新的場地要增加嗎？</h2>
            <p>點擊下方按鈕增加場地吧！</p>
        </div>

        <form method="POST" action="#">
            <div class="form-row justify-content-center">
                <div class="col-auto">
                    <a href="/Spaces/Spaces_Create" class="joinbutton-a">
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        Create Now！
                    </a>
                </div>
            </div>
        </form>

    </div>
</section>

<main>
    <div class="container pr-0 pl-0">
        <table style="width:100%; border:1px solid black;">
            <thead>
                <tr>
                    <th>
                        場地名
                    </th>
                    <th>
                        場地類型
                    </th>
                    <th>
                        場地簡介
                    </th>
                    <th>
                        評價
                    </th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr style="width:100%; border:1px solid black;">
                    <td>
                        @item.sName
                    </td>
                    <td>
                        @item.sType
                    </td>
                    <td>
                        @item.sIntro
                    </td>
                    <td>
                        <button type="submit" class="btn btn-info" style="font-size:14px">@Html.ActionLink("查看評價", "ShowComment", new { sNumber = item.sNumber })</button>
                        <button type="submit" class="btn btn-dark" style="font-size:14px">@Html.ActionLink("新增評價", "AddComment", new { sNumber = item.sNumber })</button>
                    </td>
                </tr>
            }
        </table>
    </div>

</main>

