@model IEnumerable<prjWebSpaceMent.ViewModels.RatingViewModel>
@{
    ViewBag.Title = "Rating_Index";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<section id="subspaces">
    <div class="container wow fadeInUp">
        <div class="section-header p-5">
            <h2>不滿意嗎？</h2>
            <p>別擔心，我們還有很多更適合您的！</p>
        </div>
        <div class="AnimatedButton">
            <a class="AnimatedButton-a" style="--clr:#22e622;--i:2;" href="/Spaces/Spaces_Index"><span class="AnimatedButton-a-span">找場地</span></a>
        </div>
    </div>
</section>

<main>
    <div class="section-header p-3">
        <h2>我的評價</h2>
        <p>您可以在這裡檢視所有的評價</p>
    </div>
    <div>
        <table class="table border mr-0 ml-0 d-flex justify-content-center">
            <tr>
                <th class="text-center">序號</th>
                <th>場地名</th>
                <th>評分</th>
                <th>評論</th>
                <th>功能</th>
            </tr>
            @{
                int count = 0;
                foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td class="text-center">@count</td>>
                        <td>@item.sName</td>
                        <td>@item.rRate</td>
                        <td>@item.rComment</td>
                        <td>
                            <button type="submit" class="btn btn-info" style="font-size:14px">@Html.ActionLink("編輯", "EditRating", new { sNumber = item.sNumber })</button>
                            <button type="submit" class="btn btn-danger" style="font-size:14px">@Html.ActionLink("刪除", "DeleteRating", new { sNumber = item.sNumber })</button>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</main>