@model prjWebSpaceMent.Models.Members

@{
    ViewBag.Title = "會員註冊";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--頁首 Section-->
<section id="subspaces">
    <div class="container wow fadeInUp">
        <div class="section-header p-5">
            <h2>已經有會員了嗎？</h2>
            <p>請點擊下方按鈕立即登入吧！</p>
        </div>
        <form method="POST" action="#">
            <div class="form-row justify-content-center">
                <div class="col-auto">
                    <a href="/Home/Login" class="joinbutton-a">
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        立即登入
                    </a>
                </div>
            </div>
        </form>
    </div>
</section>

<main>
    <div class="section-header p-3">
        <h2>會員註冊</h2>
        <p>請填寫以下基本資料註冊會員</p>
    </div>
    <div class="d-flex justify-content-center">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label" style="font-size:20px;font-weight:500;">會員帳號</label>
                <div>
                    @Html.EditorFor(model => model.mAccount, new { htmlAttributes = new { @class = "form-control" } })
                    <small class="form-text text-muted mb-3">請輸入您要使用的註冊帳號</small>
                    @Html.ValidationMessageFor(model => model.mAccount, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" style="font-size:20px;font-weight:500;">會員密碼</label>
                <div>
                    @Html.EditorFor(model => model.mPassword, new { htmlAttributes = new { @class = "form-control" } })
                    <small class="form-text text-muted mb-3">請輸入6~12位英數字密碼</small>
                    @Html.ValidationMessageFor(model => model.mPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" style="font-size:20px;font-weight:500;">會員姓名</label>
                <div>
                    @Html.EditorFor(model => model.mName, new { htmlAttributes = new { @class = "form-control" } })
                    <small class="form-text text-muted mb-3">請輸入您的完整姓名</small>
                    @Html.ValidationMessageFor(model => model.mName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" style="font-size:20px;font-weight:500;">會員暱稱</label>
                <div>
                    @Html.EditorFor(model => model.mNickName, new { htmlAttributes = new { @class = "form-control" } })
                    <small class="form-text text-muted mb-3">請輸入您要使用的暱稱</small>
                    @Html.ValidationMessageFor(model => model.mNickName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" style="font-size:20px;font-weight:500;">電子信箱</label>
                <div>
                    @Html.EditorFor(model => model.mEmail, new { htmlAttributes = new { @class = "form-control" } })
                    <small class="form-text text-muted mb-3">請輸入您的電子信箱</small>
                    @Html.ValidationMessageFor(model => model.mEmail, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" style="font-size:20px;font-weight:500;">連絡電話(手機)</label>
                <div>
                    @Html.EditorFor(model => model.mPhone, new { htmlAttributes = new { @class = "form-control" } })
                    <small class="form-text text-muted mb-3">請輸入您的連絡電話(ex:09xx-xxx-xxx)</small>
                    @Html.ValidationMessageFor(model => model.mPhone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" style="font-size:20px;font-weight:500;">會員性別</label>
                <div>
                    @Html.EditorFor(model => model.mGender, new { htmlAttributes = new { @class = "form-control" } })
                    <small class="form-text text-muted mb-3">請輸入您的性別</small>
                    @Html.ValidationMessageFor(model => model.mGender, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" style="font-size:20px;font-weight:500;">身分證字號</label>
                <div>
                    @Html.EditorFor(model => model.mTWid, new { htmlAttributes = new { @class = "form-control" } })
                    <small class="form-text text-muted mb-3">請輸入您的身分證字號(場地主驗證使用)</small>
                    @Html.ValidationMessageFor(model => model.mTWid, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" style="font-size:20px;font-weight:500;">出生年月日(西元)</label>
                <div>
                    @Html.EditorFor(model => model.mBirthday, new { htmlAttributes = new { @class = "form-control" } })
                    <small class="form-text text-muted mb-3">請輸入您出生年月日(ex:1999/01/01)</small>
                    @Html.ValidationMessageFor(model => model.mBirthday, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div>
                    @Html.HiddenFor(model => model.mPoint, new { Value = "0" })
                    @Html.ValidationMessageFor(model => model.mPoint, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div>
                    @Html.HiddenFor(model => model.mCreated_at, new { Value = DateTime.Now })
                    @Html.ValidationMessageFor(model => model.mCreated_at, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div>
                    @Html.HiddenFor(model => model.mUpdated_at, new { Value = DateTime.Now })
                    @Html.ValidationMessageFor(model => model.mUpdated_at, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group text-center">
                <div class="col-md-offset-2  ">
                    <input type="submit" value="會員註冊" class="btn btn-success mr-5" />
                    <button class="btn btn-danger">@Html.ActionLink("返回首頁", "Index")</button>
                    @ViewBag.Message
                </div>
            </div>
        }
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
