@model prjWebSpaceMent.Models.Members

@{
    ViewBag.Title = "會員註冊";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Intro Section-->
<section id="intro">
    <div class="page-banner home-banner">
        <div class="slider-wrapper">
            <div class="owl-carousel hero-carousel">
                <div class="hero-carousel-item">
                    <img src="~/img/bg_image_3.jpg" alt="">
                    <div class="img-caption">
                        <div class="subhead">讓我們幫您吧，想找哪個場地?</div>
                        <h1 class="mb-4">開始找尋適合您的場地吧！</h1>
                        <a href="/Home/Login" class="joinbutton-a">
                            <span class="joinbutton-a-span"></span>
                            <span class="joinbutton-a-span"></span>
                            <span class="joinbutton-a-span"></span>
                            <span class="joinbutton-a-span"></span>
                            找場地
                        </a>
                        <div class="subhead mb-5">往下繼續註冊會員...</div>
                    </div>
                </div>
                <div class="hero-carousel-item">
                    <img src="~/img/bg_image_1.jpg" alt="">
                    <div class="img-caption">
                        <div class="subhead">輕鬆刊登場地，曝光永不間斷</div>
                        <h1 class="mb-4">好場地，就該讓更多人知道！</h1>
                        <a href="/Home/Login" class="joinbutton-a">
                            <span class="joinbutton-a-span"></span>
                            <span class="joinbutton-a-span"></span>
                            <span class="joinbutton-a-span"></span>
                            <span class="joinbutton-a-span"></span>
                            成為場地主
                        </a>
                        <div class="subhead mb-5">往下繼續註冊會員...</div>
                    </div>
                </div>
                <div class="hero-carousel-item">
                    <img src="~/img/bg_image_2.jpg" alt="">
                    <div class="img-caption">
                        <div class="subhead">Hi！需要什麼協助嗎？</div>
                        <h1 class="mb-4">有什麼問題嗎？您來對地方了</h1>
                        <a href="/Home/Login" class="joinbutton-a">
                            <span class="joinbutton-a-span"></span>
                            <span class="joinbutton-a-span"></span>
                            <span class="joinbutton-a-span"></span>
                            <span class="joinbutton-a-span"></span>
                            常見問題
                        </a>
                        <div class="subhead mb-5">往下繼續註冊會員...</div>
                    </div>
                </div>
            </div>
        </div> <!-- .slider-wrapper -->
    </div>
</section>
<main>
    <div class="container">
        <div class="section-header p-5">
            <h2>會員註冊</h2>
        </div>
    </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.mAccount, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.mAccount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.mAccount, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.mPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.mPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.mPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.mName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.mName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.mName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.mNickName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.mNickName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.mNickName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.mEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.mEmail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.mEmail, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.mPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.mPhone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.mPhone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.mGender, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.mGender, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.mGender, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.mTWid, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.mTWid, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.mTWid, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.mBirthday, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.mBirthday, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.mBirthday, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.mPoint, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.mPoint, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.mPoint, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.mCreated_at, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.mCreated_at, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.mCreated_at, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.mUpdated_at, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.mUpdated_at, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.mUpdated_at, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 ">
                        <input type="submit" value="會員註冊" class="btn btn-default" />
                        <button class="btn btn-default">@Html.ActionLink("返回首頁", "Index")</button>
                        @ViewBag.Message
                    </div>
                </div>
            </div>
        }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
