@model IEnumerable<prjWebSpaceMent.Models.Members>

@{
    ViewBag.Title = "MemberManage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!--頁首 Section-->
<section id="subspaces">
    <div class="container wow fadeInUp">
        <div class="section-header p-5">
            <h2>會員資料都沒問題了嗎？</h2>
            <p>點擊下方按鈕回到首頁吧！</p>
        </div>
        <form method="POST" action="#">
            <div class="form-row justify-content-center">
                <div class="col-auto">
                    <a href="/Admin/Admin_Index" class="joinbutton-a">
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        回首頁
                    </a>
                </div>
            </div>
        </form>
    </div>
</section>

<main>
    <div class="section-header p-5">
        <h2>會員資料管理專區</h2>
        <p>以下可以進行會員資料管理</p>
    </div>
    <table class="d-flex justify-content-center table">
        <tr>
            <th>
                會員帳號
            </th>
            <th>
                會員密碼
            </th>
            <th>
                會員暱稱
            </th>
            <th>
                電子信箱
            </th>
            <th>
                聯絡電話
            </th>
            <th>
                身分證字號
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.mAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mPassword)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mNickName)
                </td>
                <td>
                    <button type="button" class="btn btn-dark">@Html.DisplayFor(modelItem => item.mEmail)</button>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mTWid)
                </td>
                <td>
                    <a href="@Url.Action("DeleteMember")?mNumber=@item.mNumber" class="btn btn-danger" onclick="return confirm('確定要刪除編號 mNumber=@item.mNumber 的記錄嗎？');">刪除</a>
                </td>
            </tr>
        }
    </table>
</main>