@model prjWebSpaceMent.Models.ClassSpaces

@{
    ViewBag.Title = "Spaces_Detail_Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!--頁首 Section-->
<section id="subspaces">
    <div class="container wow fadeInUp">
        <div class="section-header p-5">
            <h2>發現場地資訊不適當嗎？</h2>
            <p>立即對該場地進行處理！</p>
        </div>   
        <div class="AnimatedButton">
            <a class="AnimatedButton-a" style="--clr:#00ccff;--i:1;" href="/Admin/SpaceManage"><span class="AnimatedButton-a-span">場地管理</span></a>
        </div>
    </div>
</section>

<main>
    <div class="container">
        <div class="d-flex justify-content-center mt-3">
            <h1 class="text-center">@Html.DisplayFor(model => model.sName)<br /> <span class="badge badge-info" style="font-size:16px">@Html.DisplayFor(model => model.sType)會議</span></h1>
        </div>
        <section id="gallery" class="wow fadeInUp">
            <div class="owl-carousel gallery-carousel">
                <a href="~/img/gallery/1.jpg" class="venobox" data-gall="gallery-carousel"><img src="~/img/gallery/1.jpg" alt=""></a>
                <a href="~/img/gallery/2.jpg" class="venobox" data-gall="gallery-carousel"><img src="~/img/gallery/2.jpg" alt=""></a>
                <a href="~/img/gallery/3.jpg" class="venobox" data-gall="gallery-carousel"><img src="~/img/gallery/3.jpg" alt=""></a>
                <a href="~/img/gallery/4.jpg" class="venobox" data-gall="gallery-carousel"><img src="~/img/gallery/4.jpg" alt=""></a>
                <a href="~/img/gallery/5.jpg" class="venobox" data-gall="gallery-carousel"><img src="~/img/gallery/5.jpg" alt=""></a>
                <a href="~/img/gallery/6.jpg" class="venobox" data-gall="gallery-carousel"><img src="~/img/gallery/6.jpg" alt=""></a>
                <a href="~/img/gallery/7.jpg" class="venobox" data-gall="gallery-carousel"><img src="~/img/gallery/7.jpg" alt=""></a>
                <a href="~/img/gallery/8.jpg" class="venobox" data-gall="gallery-carousel"><img src="~/img/gallery/8.jpg" alt=""></a>
            </div>
        </section>
    </div>
    <div class="container">
        <div class="d-flex justify-content-center">
            <button class="btn btn-success mb-3 mr-3">@Html.ActionLink("評價管理", "Rating_Index_Admin", "Admin")</button>
        </div>
        <div class="row justify-content-around mb-3">
            <div class="col-lg-6 mb-3">
                <ul class="list-group">
                    <li class="list-group-item">@Html.DisplayNameFor(model => model.sAddr)：@Html.DisplayFor(model => model.sAddr)</li>
                    <li class="list-group-item">@Html.DisplayNameFor(model => model.sPhone)：@Html.DisplayFor(model => model.sPhone)</li>
                    <li class="list-group-item">@Html.DisplayNameFor(model => model.sFloor)：@Html.DisplayFor(model => model.sFloor)</li>
                    <li class="list-group-item">@Html.DisplayNameFor(model => model.sHeight)：@Html.DisplayFor(model => model.sHeight)</li>
                    <li class="list-group-item">@Html.DisplayNameFor(model => model.sArea)：@Html.DisplayFor(model => model.sArea)</li>
                    <li class="list-group-item">@Html.DisplayNameFor(model => model.sCapacity)：@Html.DisplayFor(model => model.sCapacity)</li>
                </ul>
            </div>
            <div class="col-lg-6 mb-3">
                <ul class="list-group">
                    <li class="list-group-item">@Html.DisplayNameFor(model => model.sRent)：@Html.DisplayFor(model => model.sRent)</li>
                    <li class="list-group-item" hidden>@Html.DisplayNameFor(model => model.sRate)：@Html.DisplayFor(model => model.sRate)</li>
                    <li class="list-group-item">@Html.DisplayNameFor(model => model.sOpeningTime)：@Html.DisplayFor(model => model.sOpeningTime)</li>
                    <li class="list-group-item">@Html.DisplayNameFor(model => model.sSecurity)：@Html.DisplayFor(model => model.sSecurity)</li>
                    <li class="list-group-item">@Html.DisplayNameFor(model => model.sTraffic)：@Html.DisplayFor(model => model.sTraffic)</li>
                    <li class="list-group-item mb-5">@Html.DisplayNameFor(model => model.sIntro)：@Html.DisplayFor(model => model.sIntro)</li>
                </ul>
            </div>
        </div>
    </div>
</main>

