@model IEnumerable<prjWebSpaceMent.ViewModels.FavoriteViewModel>

@{
    ViewBag.Title = "Favorites_Index";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<section id="subspaces">
    <div class="container wow fadeInUp">
        <div class="section-header p-5">
            <h2>OK了?</h2>
            <p>回到首頁開始瀏覽吧！</p>
        </div>

        <form method="POST" action="#">
            <div class="form-row justify-content-center">
                <div class="col-auto">
                    <a href="/Member/Index" class="joinbutton-a">
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        回首頁
                    </a>
                </div>
            </div>
        </form>

    </div>
</section>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<main>
    <div>
        <table class="m-auto" style="border:1px solid black">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.sName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sAddr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sRent)
                </th>
                <th>
                    操作
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.sName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sAddr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sRent)
                    </td>
                    <td>
                        <button class="btn btn-info">@Html.ActionLink("場地明細", "Spaces_Detail", "Spaces", new { id = item.sNumber }, null)</button> |
                        <button class="btn btn-danger"> @Html.ActionLink("移除", "Delete", new { sNumber = item.sNumber })</button>
                    </td>
                </tr>
            }

        </table>
    </div>
</main>